<!DOCTYPE html>
<html>
  <head>
    <title>MyRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">My Rails Web Site</a>
      <div class="navbar-nav" id="navbarSupportedContent">
        <%= link_to "Home", home_path, :class => "navbar-brand" %>
        <%= link_to "Create", new_post_path, :class => "navbar-brand" %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
